<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <title>Weather Journal</title>
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Weather Journal App
        </div>
        <div class="content">
            <div class="input">
                <div class="holder zip">
                    <label for="zip">Enter Zipcode here</label>
                    <input type="text" id="zip" placeholder="enter zip code here">
                </div>
                <div class="tripdates" id="time">
                    <label for="trip-date">Enter the start date of your trip.</label>
                    <input id="trip-date" type="date" name="start of trip">
                    <label for="trip-end">Enter the end date of your trip.</label>
                    <input id="trip-end" type="date" name="end of trip">
                    <div id="days-till-trip"></div>
                    <div id="trip-length"></div>
                    <button class="button" id="generate" type="submit"> Generate </button>
                </div>
            </div>
            <div class="output">
                <div class="holder locationinfos">
                    <div class="title" style="font-size: larger;">Location infos</div>
                    <div>
                        <div id="lat"></div>
                        <div id="lng"></div>
                        <div id="country"></div>
                        <div id="city"></div>
                    </div>
                    <div>
                        <img id="city-image" src="" width="250">
                    </div>
                </div>
                <div class="forecast">
                    <div class="forecast-title" style="font-size: larger;">Weather forecast</div>
                    <div id="forecast-entries">
                        <div id="high"></div>
                        <div id="low"></div>
                        <div id="description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
                console.log('Service Worker Registered');
            });
        }
    </script>

</body>

</html>